{% extends "layouts/main.html" %}

{% set pageName = "What is your full name?" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({ text: "Back", href: "javascript:history.back()" }) }}

    {% if errors and errors["full-name"] %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [{ text: errors["full-name"], href: "#full-name" }]
    }) }}
    {% endif %}

    <form method="post" novalidate>
    {{ govukInput({
      id: "full-name",
      name: "full-name",
      label: {
        text: "What is your full name?",
        isPageHeading: true,
        classes: "govuk-label--l"
      },
      hint: { text: "Enter your first name and last name." },
      errorMessage: errors["full-name"] if errors else null,
      value: data["full-name"]
    }) }}
      {{ govukButton({ text: "Continue" }) }}
    </form>

  </div>
</div>
{% endblock %}
